body {
  background-color: #000;
}

.row {
  margin: 0;
  height: 1em;
}
.cell {
  display: inline-block;
  width: 1em;
  height: 1em;
  text-align: center;
  vertical-align: middle;
  outline-style: dotted;
  outline-width: 1px;
  outline-color: black;
}